body {
    padding-top: 70px;
}

a.navbar-brand {
    font-size: 32px;
}

p {
    font-size: 16px;
}

a {
    font-size: 16px;
}

footer {
    width: 100%;
    border-top: 1px solid #ddd;
}

footer.container {
    width: 0px auto;
}

.alert-success{
    margin-top: 10px;
}

.time {
    font-weight: bold;
}

.visible {
    visibility: visible;
}


@media (max-width: 480px){
    .visible{
        visibility: hidden;
        display: none;
    }
}